.navbar-nav .nav-link,
.navbar-brand {
    color: white;
}

.navbar-toggler {
    background-color: white;
    border-color: white;
}

.navbar-toggler-icon {
    background-color: white;
}

.navbar-nav {
    color: white;
}