.navbar {
    padding: 30px 30px; /* Adjust the padding values as needed */
}

.navbar-nav .nav-link,
.navbar-brand {
    color: white;
}

.navbar-toggler {
    background-color: white;
    border-color: white;
}

.navbar-toggler-icon {
    background-color: white;
}

.navbar-nav {
    color: white;
}

h1, h2, h3 {
    font-family: 'Tilt Neon', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #b6c7db;
}

#hero {
    height: 400px;
    width: 100%;
    background: url("../assets/media/relax.jpg") no-repeat center center/cover;
    position: relative;
    padding: 150px;
}